body {
    /* background: linear-gradient(to right, #0f0c29, #302b63, #24243e); */
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right, #000428, #004e92);
}

#word {
    font-size: 40px;
}

.count {
    font-size: 26px;
}

img {
    height: 100vh;
    width: 100vw;
}

@media all and (max-width : 400px) {
    .replay {
        height: 20vh;
        width: 20vw;
    }
}

img {
    width: 250px;
    mix-blend-mode: darken;
}

.virtualBoard {
    text-transform: capitalize;
}

.blocLetter {
    font-size: 26px;
}


.disableKeyboard {
    pointer-events: none;
}

.victory {
    position: absolute;
    align-items: center;
    justify-content: center;
    width: 50vw;
    height: 50vh;
    z-index: 999;
    right: 25%;
    margin-top: 10%;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 9px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.replay {
    position: absolute;
    text-align: center;
    right: 45%;
    left: 25%;
    bottom: 0%;
    color: transparent;
    background-clip: text;
    text-shadow: 0px 3px 3px rgba(255,255,255,0.5);
    z-index: 9999;
}

.wordWas {
    position: absolute;
    bottom: 50%;
    right: 30%;
    color: transparent;
    background-clip: text;
    text-shadow: 0px 3px 3px rgba(255,255,255,0.5);
    font-size: 20px;
    display: flex;
    margin: 0;
    color: white;
    z-index: 99999;
}

.letterNumber {
    font-size: 20px;
}

.keyboard {
    margin-top: 10%;
}

.word {
    margin-top: 3%;
    text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);
}

.glass {
    margin-top: 5%;
    background: rgba( 255, 255, 255, 0.3 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 2px );
    -webkit-backdrop-filter: blur( 2px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.letterNumber {
    font-size: 40px;
    text-transform: capitalize;
    color: #d9d9d9;
    text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);
}

.count {
    text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);
    text-transform: capitalize;
}

.blocLetter {
    text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);
    text-transform: uppercase;
}

/* .pendu {
    mix-blend-mode: screen;
} */

.gifCr7 {
    position: absolute;
    align-items: center;
    justify-content: center;
    width: 50vw;
    height: 50vh;
    z-index: 999;
    top: 0;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 9px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.theOfficeNo {
    position: absolute;
    align-items: center;
    justify-content: center;
    width: 50vw;
    height: 50vh;
    z-index: 999;
    top: 0;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 9px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}